#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
  cursor: pointer;
}

.glass {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 0;
  width: 30%;
  height: 64px;
  background: rgba(255, 255, 255, 0.67);
  border-radius: 0 72px 72px 0;
  backdrop-filter: blur(60px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  /* color: #333; */
  text-align: center;
}

.name-tag {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}