#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
  cursor: pointer;
}

.glass {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20%;
  left: 0;
  width: 30%;
  height: 64px;
  background: rgba(255, 255, 255, 0.67);
  border-radius: 0 72px 72px 0;
  backdrop-filter: blur(60px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  /* color: #333; */
  text-align: center;
}

.gradient-background-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  filter: blur(20px);
}

.name-tag {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.card {
  position: absolute;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  left: 0;
  bottom: 0;
}

.gradient-background {
  width: 100%;
  background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.9) 100%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-context-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  padding-bottom: 5%;

  .user-name {
    font-size: 24px;
    font-weight: bold;
  }

  .user-role {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .position {
    font-size: 16px;
    font-weight: normal;
  }

  .additional-context-wrapper {
    font-size: 14px;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 8px;
  }

  .context-section {
    display: flex;
    gap: 4px;
  }

  .other-info img,
  .other-info .icon {
    margin-right: 8px; /* 图标和文本之间的间距 */
  }
}

.font-style {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.separator {
  margin: 0 5px; /* Adjust spacing as needed */
}